<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>&emsp;&emsp;&emsp;&emsp;&emsp;</li>
      <li class="tab">
        <a  class="nv" href="#"> Jeremy &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="tab">
        <a  class="nv" href="#"> Justin &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="tab">
        <a  class="nv" href="#"> Sue &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="tab">
        <a  class="nv" href="#"> Tim &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="tab">
        <a class="nv" href="#"> Sam &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="dropdown">
        <a  class="nv" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Account</a>
      </li>
    </ul>
  </div>
</nav>
