<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>&emsp;&emsp;&emsp;&emsp;&emsp;</li>
      <li class="tab">
        <a  class="nv" href="#"> General Gameroom &nbsp;</a>
      </li>
      <li class="dropdown">
        <a  class="nv" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          </ul>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Account</a>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
function populateNavBar(){
  $.get('/ConversationList/5aaa0802da95766b10bb2917', function(response){
      var id = 0;
      response[0].forEach((messageObject, index) => {
        id = messageObject._id;
        id = id.substring(id.length - 4, id.length);
        if (index < 3){
          $('.tab').last().after(
            "<li class=\"tab\" id=\"" + id + "\"><a  class=\"nv\" href=\"#\">" + "Room: " + id + "&nbsp;<span href=\"#\" id=\"" + "c" + id + "\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
          );
        }
        else {
          $('.dropdown-menu').append(
            "<li class=\"tab\" id=\"" + id + "\"><a  class=\"nv\" href=\"#\">" + "Room: " + id + "&nbsp;<span href=\"#\" id=\"" + "c" + id + "\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
          );
        }
      });
        console.log("Navbar populated. Here's an example of output:\nConversation ID= " + id);
    });
}
$(document).on('click', '.close', function(){
    var id = this.id.substring(1, this.id.length);
    $("#" + id).remove();
});
$(document).ready(function(){
  populateNavBar();
});
</script>
