<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Gif with Friends</a>
      </li>
      <!-- <li>&emsp;&emsp;&emsp;&emsp;&emsp;</li> -->
      <li class="tab">
        <a  class="nv" href="#"> General Gameroom &nbsp;</a>
      </li>
      <li class="dropdown">
        <a  class="nv" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          </ul>
      </li>
      <li class="addConversation">
        <a href="#" data-toggle="modal" data-target=".bs-modal-conversation"><span class="glyphicon glyphicon-plus"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right login">
      <li class="navbar-right">
        <a href="#" data-toggle="modal" data-target=".bs-modal-sm"><span class="glyphicon glyphicon-user"></span> Account</a>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding:30px;text-align:center;">
      <img src="logo.gif"><br><br>
      <form class="loginform">
        <h3><b>Login</b></h3><br>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br><br>
        <button type="button" data-dismiss="modal" class="btn-primary login-btn">Login</button>
      </form><br><br>
      <form class="createUserForm">
        <h3><b>Create a New Account</b></h3><br>
        <label for="firstName">First Name</label><br>
        <input type="text" name="firstName" id="firstName"><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" id="lastName"><br>
        <label for="newUsername">Username</label><br>
        <input type="text" name="newUsername" id="newUsername"><br>
        <label for="newPassword">Password</label><br>
        <input type="password" name="newPassword" id="newPassword"><br><br>
        <button type="button" data-dismiss="modal" class="btn-primary create-account-btn">Create New Account</button>
      </form>
    </div>
  </div>
</div>

<div class="modal fade bs-modal-conversation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="padding:30px;text-align:center;">
      <form class="Conversationform">
        <h3><b>Start a New Conversation</b></h3><br>
        <label for="friendUsername">Enter the username of your friend</label><br>
        <input type="text" name="friendUsername" id="friendUsername"><br>
        <label for="initialMessage">Start off with an invitation</label><br>
        <textarea name="initialMessage" id="initialMessage"></textarea><br>
        <button type="button" class="btn-primary newConversation-btn" data-dismiss="modal">Let's Go</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
var userID = "";
jQuery.each( [ "put", "delete" ], function( i, method ) {
  jQuery[ method ] = function( url, data, callback, type ) {
    if ( jQuery.isFunction( data ) ) {
      type = type || callback;
      callback = data;
      data = undefined;
    }

    return jQuery.ajax({
      url: url,
      type: method,
      dataType: type,
      data: data,
      success: callback
    });
  };
});
function populateNavBar(){
  <% if(typeof id != 'undefined') { %>
    userID = <%- JSON.stringify(id) %>;
  <% } %>
  var url = "/ConversationList/" + userID;
  console.log(url);
  $.get(url, function(response){
      var id = 0;
      response[0].forEach((messageObject, index) => {
        id = messageObject._id;
        idSubstring = id.substring(id.length - 4, id.length);
        if (index < 3){
          $('.tab').last().after(
            "<li class=\"tab\" id=\"" + id + "\"><a  class=\"nv\" href=\"#\">" + "Room: " + idSubstring + "&nbsp;<span href=\"#\" id=\"" + "c" + id + "\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
          );
        }
        else {
          $('.dropdown-menu').append(
            "<li class=\"tab\" id=\"" + id + "\"><a  class=\"nv\" href=\"#\">" + "Room: " + idSubstring + "&nbsp;<span href=\"#\" id=\"" + "c" + id + "\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
          );
        }
      });
        console.log("Navbar populated. Here's an example of output:\nConversation ID= " + id);
    });
}
$(document).on('click', '.close', function(){
    var id = this.id.substring(1, this.id.length);
    $("#" + id).remove();
    $.delete('/conversation', {id: id} ,function(response){
      console.log("Conversation: " + id + " is deleted");
      console.log(response);
    });
})
$(document).on('click', '.newConversation-btn', function(){
    console.log("Start new conversation button clicked.");
    var username = document.getElementById("friendUsername").value;
    var text = document.getElementById("initialMessage").value;
    $.post("/conversation",{ username: username, text: text},function(response){
      console.log(response);
    });
})
//TODO: login after creating account
$(document).on('click', '.create-account-btn', function(){
    console.log("Start new account button clicked.");
    var firstName = document.getElementById("firstName").value;
    var lastName = document.getElementById("lastName").value;
    var username = document.getElementById("newUsername").value;
    var password = document.getElementById("newPassword").value;
    $.post("/user",{ username: username, password: password, firstName: firstName, lastName: lastName},function(response){
      console.log(response);
      userID = response.id;
    });
})
$(document).on('click', '.addConversation', function(){
    console.log("Opening new conversation dialog...");
})
$(document).on('click', '.login', function(){
    console.log("Opening login dialog...");
})
$(document).on('click', '.login-btn', function(){
    console.log("logging on with credentials...");
    var password = document.getElementById("password").value;
    var username = document.getElementById("username").value;
    $.get('/verifyPassword',{username: username, password: password} ,function(response){
      console.log(response);
      userID = response.id;
    });

})
$(document).ready(function(){
  populateNavBar();
})
</script>
