<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>&emsp;&emsp;&emsp;&emsp;&emsp;</li>
      <li class="tab">
        <a  class="nv" href="#"> General Gameroom &nbsp;<span href="#" class="close" data-dismiss="tab" aria-label="close">&times;</span></a>
      </li>
      <li class="dropdown">
        <a  class="nv" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> Account</a>
      </li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
function populateNavBar(){
  $.get('/ConversationList/5aaa0802da95766b10bb2917', function(response){
    response[0].forEach((messageObject, index) => {
    var playerOne = messageObject.playerOne;
    var playerTwo = messageObject.playerTwo;
    var partOne = playerOne.substring(playerOne.length - 4, playerOne.length);
    var partTwo = playerTwo.substring(playerTwo.length - 4, playerTwo.length);
    if (index < 3){
      $('.tab').last().after(
        "<li class=\"tab\"><a  class=\"nv\" href=\"#\">" + partOne + partTwo + "&nbsp;<span href=\"#\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
      );
    }
    else {
      $('.dropdown-menu').append(
        "<li class=\"tab\"><a  class=\"nv\" href=\"#\">" + partOne + partTwo + "&nbsp;<span href=\"#\" class=\"close\" data-dismiss=\"tab\" aria-label=\"close\">&times;</span></a></li>"
      );
    }
  });
    console.log("Navbar populated. Here's an example of output:\nPlayer One: " + response[0][0].playerOne + "\nPlayer Two: " + response[0][0].playerTwo);
  });
}
$(document).ready(function(){
  populateNavBar();
});
</script>
