.navbar{
  background-color: rgba(50, 50, 50, 0.8);
}
.nv {
  background-color: rgba(50, 50, 50, .5);
}
.well{
  width: 85%;
  margin: auto;
  min-height: 25% !important;
}
.alert{
  font-size: 25px;
}
.glyphicon-copyright-mark{
  font-size: 10px;
}
footer{
  background-color: rgba(242, 242, 242, 1);
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 20px;
}
html,
body {
    height: 100%;
}
.input-group{
  width: 85%;
  margin: auto;
}
#messages li:nth-child(odd) {
    background: #eee;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.row{
  padding: 20px;
}
