<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gif With Friends</title>
    <% include ../partials/header.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
     var gameroomName = "5abaa41467af70f26f2b6c3d";
     function gifMe() {
          var count = 0;
          var view = "";
          var query = $('.form-control').val();
          $('.form-control').val('');
          $str = "gif/" + "?query=" + query;
          $.get($str, function(response){
            response.forEach((gifObject) => {
              var url = gifObject.url;
              if (count > 2)
                count = 0;
              if (count == 0)
                view += "<div class=\"row\">";
              view += "<div class=\"col-sm-4\"><img src=\"" + url + "\" class=\"gif\"></div>";
              if (count == 2)
                view += "</div>";
              count++;
            });
            console.log("WE HAVE A RESULT");
            document.getElementById("gifs").innerHTML = view;
          });
     };
     // for(var b in window) {
     //   if(typeof b === 'string')
     //    if(window.hasOwnProperty(b))
     //      console.log(b);
     //    else {
     //      console.log("non-string: " + b);
     //    }
     // };
</script>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <br><br>
    <div class="alert alert-info alert-dismissible">
      <a href="#" data-dismiss="alert" aria-label="close" style="float:right;">&times;</a>
      <strong>Welcome!</strong>  Gif with Friends
      is a new game where players take turns asking and answering simple "get to know
      you questions." The catch is you can only respond to questions with a GIF. Let's get
      creative!
    </div>
    <div class="well" id="well">
      <ul id="messages"></ul>
    </div>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter a question...">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="send" type="button">Send</button>
      </span>
    </div><br><br>
    <div class="" id="gifs">

    </div><br><br>
    <% include ../partials/footer.ejs %>

    <script>
        $( document ).ready(function() {
          var socket = io();

          populateConversation = function (){
              console.log("Populating Conversation");
              document.getElementById("messages").innerHTML = "";
              if(gameroomName)
                $.get('/conversation/' + gameroomName, function(response){
                // TODO: getConversationText
                  console.log("Populating Conversation\nConversation ID: " + gameroomName);
                  var array = response.text.split(/(?:\r\n|\r|\n)/g);
                  array.forEach((object) => {
                    if(object.substring(14, 31) == ".giphy.com/media/")
                      object = "<img src=\'" + object + "\' >";
                    else {
                      console.log(object.substring(14, 31) + " " + ".giphy.com/media/");
                    }
                    $('#messages').append($('<li>').html(object));
                  });
                });
              scrollToBottom();
          }

            function scrollToBottom() {
              var bottom = $("#well").height();
              $("#well").animate({ scrollTop: bottom + 200 }, 1000);
             }

          $('.form-control').focus();
          joinRoom();

          $("#gifs").on('click', '.gif', function () {
            if($("#send").hasClass('btn-success')){
              var link = this.src;
              document.getElementById("messages").innerHTML += "<img src=\'" + link + "\' >";
              sendGifLink(link);
            }
            scrollToBottom();
          });

          $(".input-group-btn").on('click', '.btn-primary', function () {
            if(!$("#send").hasClass('disabled')){
              send();
            }
          });

          $(".input-group-btn").on('click', '.btn-success', function () {
            if(!$("#send").hasClass('disabled')){
              gifMe();
            }
          });

          $(document).on('click', '.nv', function () {
            gameroomName = this.id;
            if(gameroomName !== "")
              joinRoom();
          });

            $(".form-control").on('keyup', function (e) {
              if(this.disabled == false){
                if($(".form-control").val() != ""){
                  if (e.keyCode == 13) {
                      if($("#send").hasClass("btn-primary")){
                        send();
                      }
                      else {
                        gifMe();
                      }
                  }
                }
              }
            });

          function changeToGifSearch(){
            $(".form-control").attr("placeholder", "Search for a gif...");
            if ($("#send").hasClass('btn-primary')) {
              $("#send").toggleClass('btn-primary btn-success');
            }
            document.getElementById('send').innerHTML = "Search";
            $('.form-control').focus();
            $('.form-control').val('');
          }

          function changeToTextMessage(){
            $(".form-control").attr("placeholder", "Enter a question...");
            if ($("#send").hasClass('btn-success')) {
              $("#send").toggleClass('btn-primary btn-success');
            }
            document.getElementById('send').innerHTML = "Send";
            $('.form-control').focus();
            $('.form-control').val('');
          }

          function disableSend(){
            $(".form-control").prop('disabled', true);
            $("#send").addClass('disabled');
            $('.form-control').val('');
          }

          function enableSend(){
            $(".form-control").prop('disabled', false);
            $("#send").removeClass('disabled');
            $('.form-control').val('');
          }

          function joinRoom(){

            console.log("gameroomName: " + gameroomName)
            socket.emit('create',gameroomName);
            populateConversation();
          }

          function send(){
            // name = $('#name').val() ? $('#name').val() : 'Anonymous';
            var message = $('.form-control').val()
            $('#messages').append($('<li>').html(message));
            scrollToBottom();
            socket.emit('question', {message: message});
            disableSend();
            return false;
          }

          function sendGifLink(link){
            socket.emit('gif', {link: link});
            changeToTextMessage();
            return false;
          }

          socket.on('updateConversation', function (msg){
            var type = msg.type;
            if (type == "question") {
              enableSend();
              var message = msg.message;
              $('#messages').append($('<li>').html(message));
              changeToGifSearch();
            }
            if (type == "gif") {
              var link = msg.link;
              document.getElementById("messages").innerHTML += "<img src=\'" + link + "\' >";
            }
            scrollToBottom();

          });

          socket.on('connectCounter', function (msg){
            console.log("There are " + msg + " players currently active.");
            if(msg == 1)
              document.getElementById("numPlayers").innerHTML = "You are the only active player in this channel.";
            else
              document.getElementById("numPlayers").innerHTML = "There are " + msg + " players currently active in this channel.";
          });
        });

  </script>
  </body>
</html>
