<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    Hello buds!! Wassup?
  </body>
</html>
