<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gif With Friends</title>
    <% include ../partials/header.ejs %>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
     function gifMe() {
          var query = $('.form-control').val();
          $('.form-control').val('');
          $str = "gif/" + "?query=" + query;
          $.get($str, function(data){
            document.getElementById("gifs").innerHTML = data;
          })
     }
</script>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="alert alert-info alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Welcome!</strong>  Gif With Friends
      is a new game where players take turns asking and answering simple "get to know
      you questions." The catch is you can only respond to questions with a GIF. Let's get
      creative!
    </div>
    <div class="well">
      <ul id="messages"></ul>
    </div>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter a question...">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="send" type="button">Send</button>
      </span>
    </div><br><br>
    <div class="" id="gifs">

    </div>
    <% include ../partials/footer.ejs %>

    <script>
        $( document ).ready(function() {
          $('.form-control').focus();
        });

        $("#gifs").on('click', '.gif', function () {
          if($("#send").hasClass('btn-success')){
            var link = this.src;
            document.getElementById("messages").innerHTML += "<img src=\'" + link + "\' >";
            sendGifLink(link);
          }
        });

        $(".input-group-btn").on('click', '.btn-primary', function () {
          if(!$("#send").hasClass('disabled')){
            send();
          }
        });

        $(".input-group-btn").on('click', '.btn-success', function () {
          if(!$("#send").hasClass('disabled')){
            gifMe();
          }
        });

        $(".form-control").on('keyup', function (e) {
          if(this.disabled == false){
            if (e.keyCode == 13) {
                if($("#send").hasClass("btn-primary")){
                  send();
                }
                else {
                  gifMe();
                }
            }
          }
        });

        var socket = io();

        function changeToGifSearch(){
          $(".form-control").attr("placeholder", "Search for a gif...");
          $("#send").toggleClass('btn-primary btn-success');
          document.getElementById('send').innerHTML = "Search";
          $('.form-control').focus();
          $('.form-control').val('');
        }

        function changeToTextMessage(){
          $(".form-control").attr("placeholder", "Enter a question...");
          $("#send").toggleClass('btn-success btn-primary');
          document.getElementById('send').innerHTML = "Send";
          $('.form-control').focus();
          $('.form-control').val('');
        }

        function disableSend(){
          $(".form-control").prop('disabled', true);
          $("#send").addClass('disabled');
          $('.form-control').val('');
        }

        function enableSend(){
          $(".form-control").prop('disabled', false);
          $("#send").removeClass('disabled');
          $('.form-control').val('');
        }

        function send(){
          // name = $('#name').val() ? $('#name').val() : 'Anonymous';
          var message = $('.form-control').val()
          $('#messages').append($('<li>').html(message));
          socket.emit('question', {message: message});
          disableSend();
          return false;
        }

        function sendGifLink(link){
          socket.emit('gif', {link: link});
          changeToTextMessage();
          return false;
        }

        socket.on('updateConversation', function (msg){
          var type = msg.type;
          console.log(type);
          if (type == "question") {
            enableSend();
            var message = msg.message;
            $('#messages').append($('<li>').html(message));
            changeToGifSearch();
          }
          if (type == "gif") {
            var link = msg.link;
            document.getElementById("messages").innerHTML += "<img src=\'" + link + "\' >";
          }

        });

  </script>
  </body>
</html>
